{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Shop</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shop.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ shop.nom }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ shop.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shop_edit', { 'id': shop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h1>Produits du magasin "{{ shop.nom }}"</h1>

            <a href="{{ path('product_new', { 'id': shop.id }) }}">New</a>
    {% for product in shop.products %}
        <div>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
            <a href="{{ path('product_delete', { 'id': product.id }) }}">delete</a>
            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
            {{ product.nom }}
            {{ product.codeBarre }}
            {{ product.prix }}
            {{ product.description }}
        </div>
    {% endfor %}
{% endblock %}
