<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div id="mySidenav" class="sidenav">
                    <div> 
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="{{ path('fos_user_profile_show') }}" title="Mon compte"><span class="glyphicon glyphicon-user"></span>Mon compte</a>
                        <a href="#" tilte="Mon panier"><span class="glyphicon glyphicon-shopping-cart"></span>Panier</a>
                        <a href="#" title="Mes shops"><span class="glyphicon glyphicon-home"></span>Mes shops</a>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}" title="Se déconnecter" class="logout"><span><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="nav-menu">
                    <ul class="nav-menu-left">
                        <li><!-- Bouton qui ouvre la sidebar -->
                            <a href="#" title="Menu" onclick="openNav()">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-menu-right">
                        <li class="hidden-xs">
                            <a href="{{ path('fos_user_profile_show') }}" title="Mon compte"><span id="my-account">Mon compte<span class="glyphicon glyphicon-user"></span></span></a>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul>
                                <li><a href="{{ path('fos_user_security_logout') }}" title="Se déconnecter"><span><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</span></a></li>
                            </ul>
                            {% endif %}
                        </li>
                        <li><a href="#" title="Panier"><span id="shopping-cart">Panier<span class="glyphicon glyphicon-shopping-cart"></span></span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
        </footer>
        {% block javascripts %}{% endblock %}
        <script>
            /* Set the width of the side navigation to 250px */
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            /* Set the width of the side navigation to 0 */
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        <script src="/js/jquery/jquery-3.2.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
