{% extends '::layout.html.twig' %}
{% block body %}
    <section id="profil">
        <div class="back-btn-container">
            <a href="{{ path('fos_user_profile_edit') }}" class="profile-btn retour">Retour</a> 
        </div>
        <h1><span class="glyphicon glyphicon-user"></span> Mon profil</h1>
        <div class="change-password">
            {% block fos_user_content %}
                {% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}